* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    padding: 50px 0px;
    font-family: sans-serif;
    transition: all 0.25s ease-out;
}

header,
form,
.block ul,
section,
#flex-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: var(--ebg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    justify-content: space-between;
    font-weight: 600;
    transition: all 0.25s ease-out;
}

#logo {
    text-transform: uppercase;
    font-size: 1.5em;
}

#mode:hover,
#search:hover {
    cursor: pointer;
}

#section-form {
    margin: auto auto 15px auto;
    max-width: 700px;
    width: 90%;
}

form {
    background: var(--ebg);
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 5px 0px;
    transition: all 0.25s ease-out;
}

#search-field {
    background: inherit;
    padding: 1px 5px;
    border: none;
    outline: none;
    width: 70%;
    height: 24px;
}

#search-field::placeholder {
    color: hsl(0, 0%, 55%);
}

select {
    background: var(--ebg);
    color: var(--lc);
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    margin: auto 10px;
    border: none;
    outline: none;
    transition: all 0.25s ease-out;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

select:hover {
    cursor: pointer;
}

#main-content {
    width: 90%;
    margin: auto;
}

#container {
    display: grid;
}

.block {
    width: 220px;
    height: 300px;
    margin: 10px;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: margin 0.25s ease-out;
}

.block:hover {
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 18px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.3);
}

.block div {
    width: 100%;
    height: 150px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
}

.block div img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: auto;
}

@supports (object-fit: cover) {

    .block div img,
    #details div img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.block ul {
    width: 100%;
    height: 150px;
    padding: 0px 5px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--ebg);
    border-radius: 0px 0px 10px 10px;
    transition: all 0.25s ease-out;
}

.block ul li {
    margin: 5px;
    list-style: none;
}

.block ul li:nth-child(1) {
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    body {
        --ebg: hsl(209, 23%, 22%);
        --lc: hsl(0, 0%, 100%);
        --bgc: rgb(32, 44, 55);
        background: var(--bgc);
        color: var(--lc);
    }

    header,
    .block ul,
    form,
    select {
        background-color: var(--ebg);
    }

    #search-field,
    select {
        color: var(--lc);
    }
}

@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
    body {
        --ebg: hsl(0, 0%, 100%);
        --lc: hsl(200, 15%, 8%);
        --bgc: rgb(224, 224, 224);
        color: var(--lc);
        background-color: var(--bgc);
    }

    header,
    .block ul,
    form,
    select {
        background-color: var(--ebg);
    }

    #search-field,
    select {
        color: var(--lc);
    }
}

#detail-content {
    width: 90%;
    margin: 20px auto;
}

#back {
    background-color: var(--ebg);
    padding: 10px 0;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-out;
}

#back:hover,
#borders li span:hover {
    background-color: rgb(139, 139, 138);
    cursor: pointer;
}

#flex-details {
    margin-top: 20px;
    align-items: flex-start;
}

#img {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 486px;
    max-height: 324px;
}

#details div img {
    width: 100%;
    height: auto;
    box-shadow: 0px 20px 15px -10px rgba(0, 0, 0, 0.3);
}

#container-data {
    margin: auto;
}

#container-data p,
#borders li {
    font-weight: 800;
    font-size: 26px;
    margin: 10px 5px;
    padding: 0px 10px;
}

#data {
    margin: auto;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

#data ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
}

#data li {
    list-style: none;
    margin: 5px;
}

#data ul li span,
#borders li {
    font-weight: 600;
    font-size: 16px;
}

#borders {
    display: flex;
    list-style: none;
}

#borders li span {
    background-color: var(--ebg);
    display: inline-block;
    padding: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0px 10px 5px 0px;
}

@media (max-width: 1110px) {
    #data {
        flex-direction: column;
    }
}

@media (max-width: 835px) {
    #flex-details {
        flex-direction: column;
    }

    #container-data {
        width: 100%;
        margin: auto;
        max-width: 486px;
        max-height: 324px;
    }

    #container-data p,
    #borders li {
        margin: 10px 0px;
        padding: 0px;
    }

    #borders li span {
        margin: 0px 10px 5px 0px;
    }

    #data ul {
        padding: 0px 0px;
    }

    #data ul li {
        margin: 5px 0px;
    }

    #details div img {
        max-height: 324px;
    }
}

@media (max-width: 785px) {
    #section-form {
        flex-direction: column;
    }

    select {
        margin-top: 15px;
    }
}